<%- include("../partials/header") %>

<!-- Add New Book page wrapper -->
<div class="page">
  <h2>Add a New Book</h2>

  <!-- Form to create a new book -->
  <form method="POST" action="/books">
    <!-- Input for book title -->
    <input name="title" placeholder="Title">
    
    <!-- Input for book author -->
    <input name="author" placeholder="Author">
    
    <!-- Submit button -->
    <button class="btn">Create</button>
  </form>
</div>
